    private function prepareRatingItems($order)
    {
        $ratingItems = [];
        foreach ($order->items as $item) {
            $ratingItems[] = [
                'order_id' => $order->id,
                'product_id' => $item->product_id,
                'name' => $item->product->name,
                'image' => $item->product->image,
                'quantity' => $item->quantity
            ];
        }
        return $ratingItems;
    }
